# Assignment Day 4

# 1

In [2]:
import pandas as pd

In [3]:
print(pd.__version__)

1.0.5

# 2

In [14]:
import numpy as np
arr=np.array([1,2,3,4,5,6])
series=pd.Series(arr)
print(series)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

# 3

In [11]:
f1=pd.Series({"Lewis Hamilton":6,"Micheal schumacher":7,"Sebastian Vettel":4,"Kimi Raikonan":1})
print(f1)
formula1 = f1.to_frame().reset_index() 
print(formula1)

Lewis Hamilton        6
Micheal schumacher    7
Sebastian Vettel      4
Kimi Raikonan         1
dtype: int64
                index  0
0      Lewis Hamilton  6
1  Micheal schumacher  7
2    Sebastian Vettel  4
3       Kimi Raikonan  1

# 4

In [27]:
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [29]:
mpg=sns.load_dataset("mpg")
print(mpg)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]

# 5

In [32]:
mpg['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

# 6

In [51]:
mpg=pd.DataFrame(mpg)

mpg=mpg[mpg['origin'].str.contains("usa")]
print(mpg)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
392  27.0          4         151.0        90.0    2950          17.3
393  27.0          4         140.0        86.0    2790          15.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year origin                       name
0            70    usa  chevrolet chevelle malibu
1            70    usa          buick skylark 320
2            70    usa         plymouth satellite
3            70    usa              amc rebel sst
4            70    usa                ford torino
..          ...    ...                        ...
392          82    usa           chevrolet camaro
393          82    usa            ford mustang gl
395          82    usa              dodge rampage
396          82    usa                ford ranger
397          82    usa                 chevy s-10

[249 rows x 9 columns]

In [53]:
list(mpg["name"])

['chevrolet chevelle malibu',
 'buick skylark 320',
 'plymouth satellite',
 'amc rebel sst',
 'ford torino',
 'ford galaxie 500',
 'chevrolet impala',
 'plymouth fury iii',
 'pontiac catalina',
 'amc ambassador dpl',
 'dodge challenger se',
 "plymouth 'cuda 340",
 'chevrolet monte carlo',
 'buick estate wagon (sw)',
 'plymouth duster',
 'amc hornet',
 'ford maverick',
 'amc gremlin',
 'ford f250',
 'chevy c20',
 'dodge d200',
 'hi 1200d',
 'chevrolet vega 2300',
 'ford pinto',
 'amc gremlin',
 'plymouth satellite custom',
 'chevrolet chevelle malibu',
 'ford torino 500',
 'amc matador',
 'chevrolet impala',
 'pontiac catalina brougham',
 'ford galaxie 500',
 'plymouth fury iii',
 'dodge monaco (sw)',
 'ford country squire (sw)',
 'pontiac safari (sw)',
 'amc hornet sportabout (sw)',
 'chevrolet vega (sw)',
 'pontiac firebird',
 'ford mustang',
 'mercury capri 2000',
 'plymouth cricket',
 'dodge colt hardtop',
 'chevrolet vega',
 'ford pinto runabout',
 'chevrolet impala',
 'pontiac catalina',
 'plymouth fury iii',
 'ford galaxie 500',
 'amc ambassador sst',
 'mercury marquis',
 'buick lesabre custom',
 'oldsmobile delta 88 royale',
 'chrysler newport royal',
 'amc matador (sw)',
 'chevrolet chevelle concours (sw)',
 'ford gran torino (sw)',
 'plymouth satellite custom (sw)',
 'ford pinto (sw)',
 'dodge colt (sw)',
 'buick century 350',
 'amc matador',
 'chevrolet malibu',
 'ford gran torino',
 'dodge coronet custom',
 'mercury marquis brougham',
 'chevrolet caprice classic',
 'ford ltd',
 'plymouth fury gran sedan',
 'chrysler new yorker brougham',
 'buick electra 225 custom',
 'amc ambassador brougham',
 'plymouth valiant',
 'chevrolet nova custom',
 'amc hornet',
 'ford maverick',
 'plymouth duster',
 'chevrolet impala',
 'ford country',
 'plymouth custom suburb',
 'oldsmobile vista cruiser',
 'amc gremlin',
 'chevrolet vega',
 'ford pinto',
 'mercury capri v6',
 'chevrolet monte carlo s',
 'pontiac grand prix',
 'dodge dart custom',
 'oldsmobile omega',
 'plymouth duster',
 'ford maverick',
 'amc hornet',
 'chevrolet nova',
 'ford pinto',
 'chevrolet vega',
 'chevrolet chevelle malibu classic',
 'amc matador',
 'plymouth satellite sebring',
 'ford gran torino',
 'buick century luxus (sw)',
 'dodge coronet custom (sw)',
 'ford gran torino (sw)',
 'amc matador (sw)',
 'dodge colt',
 'plymouth valiant custom',
 'chevrolet nova',
 'mercury monarch',
 'ford maverick',
 'pontiac catalina',
 'chevrolet bel air',
 'plymouth grand fury',
 'ford ltd',
 'buick century',
 'chevroelt chevelle malibu',
 'amc matador',
 'plymouth fury',
 'buick skyhawk',
 'chevrolet monza 2+2',
 'ford mustang ii',
 'ford pinto',
 'amc gremlin',
 'pontiac astro',
 'ford pinto',
 'amc pacer',
 'capri ii',
 'dodge colt',
 'chevrolet chevelle malibu classic',
 'dodge coronet brougham',
 'amc matador',
 'ford gran torino',
 'plymouth valiant',
 'chevrolet nova',
 'ford maverick',
 'amc hornet',
 'chevrolet chevette',
 'chevrolet woody',
 'dodge aspen se',
 'ford granada ghia',
 'pontiac ventura sj',
 'amc pacer d/l',
 'ford pinto',
 'plymouth volare premier v8',
 'cadillac seville',
 'chevy c10',
 'ford f108',
 'dodge d100',
 'buick opel isuzu deluxe',
 'plymouth arrow gs',
 'chevrolet caprice classic',
 'oldsmobile cutlass supreme',
 'dodge monaco brougham',
 'mercury cougar brougham',
 'chevrolet concours',
 'buick skylark',
 'plymouth volare custom',
 'ford granada',
 'pontiac grand prix lj',
 'chevrolet monte carlo landau',
 'chrysler cordoba',
 'ford thunderbird',
 'pontiac sunbird coupe',
 'ford mustang ii 2+2',
 'chevrolet chevette',
 'dodge colt m/m',
 'ford fiesta',
 'oldsmobile cutlass salon brougham',
 'dodge diplomat',
 'mercury monarch ghia',
 'pontiac phoenix lj',
 'chevrolet malibu',
 'ford fairmont (auto)',
 'ford fairmont (man)',
 'plymouth volare',
 'amc concord',
 'buick century special',
 'mercury zephyr',
 'dodge aspen',
 'amc concord d/l',
 'chevrolet monte carlo landau',
 'buick regal sport coupe (turbo)',
 'ford futura',
 'dodge magnum xe',
 'chevrolet chevette',
 'dodge omni',
 'plymouth sapporo',
 'oldsmobile starfire sx',
 'pontiac lemans v6',
 'mercury zephyr 6',
 'ford fairmont 4',
 'amc concord dl 6',
 'dodge aspen 6',
 'chevrolet caprice classic',
 'ford ltd landau',
 'mercury grand marquis',
 'dodge st. regis',
 'buick estate wagon (sw)',
 'ford country squire (sw)',
 'chevrolet malibu classic (sw)',
 'chrysler lebaron town @ country (sw)',
 'dodge colt hatchback custom',
 'amc spirit dl',
 'cadillac eldorado',
 'oldsmobile cutlass salon brougham',
 'plymouth horizon',
 'plymouth horizon tc3',
 'buick skylark limited',
 'chevrolet citation',
 'oldsmobile omega brougham',
 'pontiac phoenix',
 'chevrolet chevette',
 'chevrolet citation',
 'ford fairmont',
 'amc concord',
 'dodge aspen',
 'dodge colt',
 'ford mustang cobra',
 'plymouth reliant',
 'buick skylark',
 'dodge aries wagon (sw)',
 'chevrolet citation',
 'plymouth reliant',
 'plymouth champ',
 'plymouth horizon 4',
 'ford escort 4w',
 'ford escort 2h',
 'buick century',
 'oldsmobile cutlass ls',
 'ford granada gl',
 'chrysler lebaron salon',
 'chevrolet cavalier',
 'chevrolet cavalier wagon',
 'chevrolet cavalier 2-door',
 'pontiac j2000 se hatchback',
 'dodge aries se',
 'pontiac phoenix',
 'ford fairmont futura',
 'amc concord dl',
 'plymouth horizon miser',
 'mercury lynx l',
 'buick century limited',
 'oldsmobile cutlass ciera (diesel)',
 'chrysler lebaron medallion',
 'ford granada l',
 'dodge charger 2.2',
 'chevrolet camaro',
 'ford mustang gl',
 'dodge rampage',
 'ford ranger',
 'chevy s-10']